openai
langchain
langchainhub
streamlit
faiss-cpu
lxml
pypdf
numpy
pandas
matplotlib
langchain_community
langchain-chroma
langchain-experimental
python-dotenv
python-magic
plotly
PyYAML==6.0.1
sentence-transformers==2.2.2
pdfplumber
reportlab
python-docx
docx2txt
pymupdf
nltk
pydantic
pinecone
pytesseract
tiktoken
unstructured[all-docs]