openai
langchain
langchain-openai
langchainhub
langchain-community
langchain-chroma
langchain-experimental
langchain-unstructured
langgraph
streamlit
faiss-cpu
lxml
pypdf
numpy
pandas
matplotlib
python-dotenv
python-magic
plotly
PyYAML==6.0.1
sentence-transformers==2.2.2
pdfplumber
reportlab
python-docx
docx2txt
pymupdf
nltk
pydantic
chromadb
pinecone
pytesseract
tiktoken
unstructured[all-docs]
beautifulsoup4