openai
langchain
streamlit
faiss-cpu
pypdf
langchain_community
numpy
pandas
matplotlib
langchain-chroma
langchain-experimental
python-dotenv
python-magic
plotly
PyYAML==6.0.1
sentence-transformers==2.2.2
pdfplumber
reportlab
pymupdf
nltk